* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* padding: 2px; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.left-side {
  text-align: right;
}

.header {
  display: block;
  text-align: center;
  justify-content: flex-end;
}

.header .upload-btn {
  text-align: right;
}

.add-point {
  text-align: center;
}

.table-overflow {
    /* width:100%;  */
    overflow-y:scroll;
    /* position: absolute; */
    /* margin: auto; */
    /* height:600px; */
    box-sizing: border-box;
}
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #008B8B;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
  width: 100%;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #93cb52;
  border-radius: 5px;
}

.list {
  margin: 1rem 0;
  list-style: none;
}
.list li {
  padding: 0.5rem;
  border-bottom: #444 dotted 1px;
}


.file-upload {
  display: flex;
  /* width: 100px; */
  height: 200px;
  justify-content: center;
  flex-direction: column;
}

.file-upload input {
  padding: 20px;
}
.sweet-loading {
}